@use '../../../../styles.scss' as *;

.flip-card {
  cursor: pointer;
  perspective: 62.5rem;
  min-height: 9.375rem;
  border: $border;
  padding: 0 0.313rem;
  transition: $transition-background;

  h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: $text-color-light;
  }

  .edit-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.938rem;

    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    ::ng-deep button {
      padding: 0.188rem;
      transition: background-color 0.2s;

      &:hover {
        background-color: $hover-color;
        border-radius: 0.25rem;
      }
    }

  }

  &:hover {
    background-color: $hover-color;
  }
}

.flip-card:hover .edit-btn {
  opacity: 1;
  pointer-events: auto;
}

.translation {
  background-color: $hover-color;
}
