node_modules/
**/node_modules/

npm-debug.log*

.env
.env.local
.env.*.local

dist/
build/
out/
.vs/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.husky/_/


package-lock.json

/backend/.DS_Store
/backend/Thumbs.db
/backend/bin/
/backend/obj/

/backend/*.dll
/backend/*.exe
/backend/*.pdb
/backend/*.runtimeconfig.json
/backend/*.deps.json
/backend/*.db
/backend/*.log

/backend/*.user
/backend/*.suo
/backend/*.userosscache
/backend/*.sln.docstates
/backend/appsettings.Development.json
/backend/appsettings.*.local.json
/backend/appsettings.json
/backend/.vs/

/backend/publish/
