node_modules/
**/node_modules/

npm-debug.log*

.env
.env.local
.env.*.local

dist/
build/
out/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.husky/_/

.DS_Store
Thumbs.db


package-lock.json

/backend/bin/
/backend/obj/

/backend/*.dll
/backend/*.exe
/backend/*.pdb
/backend/*.runtimeconfig.json
/backend/*.deps.json
/backend/*.db
/backend/*.log

/backend/*.user
/backend/*.suo
/backend/*.userosscache
/backend/*.sln.docstates

/backend/publish/
