node_modules/
**/node_modules/

npm-debug.log*

.env
.env.local
.env.*.local

dist/
build/
out/
.vs/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.husky/_/


package-lock.json

packages/backend/.DS_Store
packages/backend/Thumbs.db
packages/backend/bin/
packages/backend/obj/

packages/backend/*.dll
packages/backend/*.exe
packages/backend/*.pdb
packages/backend/*.runtimeconfig.json
packages/backend/*.deps.json
packages/backend/*.db
packages/backend/*.log

packages/backend/*.user
packages/backend/*.suo
packages/backend/*.userosscache
packages/backend/*.sln.docstates
packages/backend/appsettings.Development.json
packages/backend/appsettings.*.local.json
packages/backend/appsettings.json
packages/backend/.vs/

packages/backend/publish/
packages/frontend/src/environments/environment.ts
