@use '../../../../styles.scss' as *;

.deck-header {
  display: flex;
  justify-content: space-between;
  border: $border;
  border-radius: $border-radius;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;

  .deck-navigate {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    padding: 0.625rem;
    transition: $transition-btn;
    border-top-left-radius: 0.525rem;

    &:hover {
      background-color: $hover-color;
    }
  }

  .deck-info {
    width: 33%;
    padding: 0.625rem;
  }

  .deck-expand-btn {
    padding-left: 0.625rem;
    border-top-right-radius: 0.525rem !important;
    transition: $transition-btn;
  }
}
