@use '../../../../styles.scss' as *;

.deck-header {
  display: flex;
  justify-content: space-between;
  border: $border;
  border-radius: $border-radius;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  .deck-navigate {
    cursor: pointer;
    padding: 10px;
    transition: $transition-background;
    border-top-left-radius: 8.4px;

    &:hover {
      background-color: $hover-color;
    }
  }

  .deck-expand-btn {
    padding-left: 10px;
    border-top-right-radius: 8.4px !important;
  }
}
