@use '../../../../styles.scss' as *;

.search-add-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .search {
    width: 100%;
    padding: 0.5rem 1rem;
    max-width: 18.75rem;

    border-radius: $border-radius;
    border: $border-thin;

    color: $text-color;
    background-color: transparent;

    font-size: 1rem;

    transition: $transition-btn;

    &:focus {
      background-color: $hover-color;
    }

    &:hover {
      background-color: $hover-color;
    }

  }

  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;

    border: $border-thin;
    border-radius: $border-radius;

    background-color: transperent;
    color: $text-color;

    transition: $transition-btn;

    ::ng-deep button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.313rem;
    }

    &:hover {
      background-color: $hover-color;
      border-color: black;
    }
  }
}
