@use '../../../../styles.scss' as *;

.modal-dialog {
  ::ng-deep .p-dialog-content {
    padding: 2rem 2.7rem;
    border: $border;
    border-radius: $border-radius;
    color: $text-color;
    background-color: $background-color;
  }
}

.modal-title {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .form-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  .form-input {
    width: 100%;
    padding: 0.5rem 1rem;
    max-width: 300px;

    border-radius: $border-radius;
    border: 1px solid $hover-color;

    color: $text-color;
    background-color: $transperent-grey-color;

    font-size: 1rem;

    &:focus {
      background-color: $hover-color;
    }
  }

  .invalid-input {
    border-color: $danger-color ;
    background-color: $danger-color ;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;

  .btn-cancel {
    padding: 5px 10px;
    border-radius: $border-radius;

    &:hover {
      background-color: $danger-color;
    }
  }

  .btn-save {
    padding: 5px 10px;
    border-radius: $border-radius;

    &:hover {
      background-color: $success-color;
    }
  }
}
