@use '../../../styles.scss';

:host {
  .welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;

      .small {
        text-align: center;
        font-size: 1.7rem;
      }
    }
    ::ng-deep .ng-star-inserted{
      margin: 0;
    }
  }
}
