@use '../../../../styles.scss' as *;

.search-add-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .search {
    width: 100%;
    padding: 0.5rem 1rem;
    max-width: 300px;

    border-radius: $border-radius;
    border: 1px solid $hover-color;

    color: $text-color;
    background-color: transparent;

    font-size: 1rem;

    &:focus {
      background-color: $hover-color;
    }

  }

  .add-button {
    padding: 0.5rem 1rem;

    border: 1px solid $hover-color;
    border-radius: $border-radius;

    background-color: transperent;
    color: $text-color;

    transition: all 0.2s ease-in-out;

    ::ng-deep button {
      ::ng-deep span {
        margin-right: 5px;
      }
    }

    &:hover {
      background-color: $hover-color;
      border-color: black;
    }

    &:active {
      transform: scale(0.97);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
}
