@use '../../../../../styles.scss' as *;


.form-modal-title-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .form-modal-title {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .btn-cancel {
    padding: 0.313rem;
    border-radius: $border-radius;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.form-modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .form-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  .form-input {
    width: 100%;
    padding: 0.5rem 1rem;
    max-width: 18.75rem;

    border-radius: $border-radius;
    border: $border-thin;

    color: $text-color;
    background-color: $transperent-grey-color;

    font-size: 1rem;

    &:focus {
      background-color: $hover-color;
    }
  }

  .invalid-input {
    border-color: $danger-color ;
    background-color: $danger-color ;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;

  .btn-cancel {
    padding: 0.313rem 0.625rem;
    border-radius: $border-radius;

    &:hover {
      background-color: $danger-color;
    }
  }

  .action-btn {
    padding: 0.313rem 0.625rem;
    border-radius: $border-radius;

  }

  .btn-save:hover {
    background-color: $success-color;
  }

  .btn-delete:hover {
    background-color: $danger-color;
  }
}
