@import "primeicons/primeicons.css";

@font-face {
  font-family: 'JetBrains';
  src: url('/assets/ttf/JetBrainsMonoNL-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains';
  src: url('/assets/ttf/JetBrainsMonoNL-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$primary-color: #4a90e2;
$secondary-color: #50c8b480;
$background-color: #000000;
$text-color: #616161;
$error-color: #e74c3c;
$border-color: #dcdcdc;
$panel-menuitem-active-bg: rgba(253, 253, 253, 0.1);

$border-radius: 10px;

:root {
  --primary-color: #{$primary-color};
  --surface-a: #{$background-color};
  --text-color: #{$text-color};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'JetBrains', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

button,
input,
select,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

.p-card {
  border-radius: 8px;
  border: 1px solid $border-color;
}

.p-button {
  transition: background-color 0.3s ease;
}
