@use '../../../../styles.scss' as *;

.deck-page-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;

    border: $border-thin;
    border-radius: $border-radius;

    background-color: transperent;
    color: $text-color;

    transition: $transition-btn;

    ::ng-deep button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.313rem;
    }

    &:hover {
      background-color: $hover-color;
      border-color: black;
    }
  }
}
